* {box-sizing: border-box;}

/*body*/
body { 
  margin: 0px;
  padding: 0px;
  background-color: rgba(127, 211, 248, 0.77);
}

/*Button*/

.btn{
    padding: 10px 0px;
    width: 150px;
    color: #fff;
    background-color: grey;
    text-align: center;
    cursor: pointer;
    border:  none;
    border-radius: 10px;
}

 .text-input{
  width:300px
}

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}


.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 10px;
  flex-flow: row wrap;
  align-items: center;
}

/*Formatting letters*/
.h1{
    font-family: Helvetica;
    color: #565656;
}


/*vertical form*/
.oil{
    display: flex;
    flex-direction: column;
}

/*header*/
.header {
  overflow: hidden;
  padding: 10px 10px;
}

.header-right {
  float: right;
}

/* Two-column layout */

#section{
    width:  60%;
    float:  left;
    padding:  4.5%;
    font-family: Helvetica;
    color: #565656;

}

#col{
    float: right;
    width: 40%;
    padding:  4.5%;
}

/* vertical line */
#vl {
  position: absolute;
  left: 60%;
  transform: translate(-50%);
  border: 0.2px solid grey;
  height: 463px;
}

/*footer*/
#footer{
    clear: both;
    width:  100%;
    padding:  4.5%;

}