body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto;
    margin: 0;

}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "cabecalho"
        "conteudo"
        "periferico"
        "rodape";
    grid-gap: 5px 0px;

}

header {
    grid-area: cabecalho;
}

.logo {
    width: 285px;
    height: 103px;
}

div.container-fluid logo {
    float: left;
}

div.content {
    background-color: #f2f2f2;
    border-radius: 12px;
    width: 95%;
}

.content {
    background-color: #f2f2f2;
    border-radius: 12px;
}

nav.perfil {
    background-color: rgb(127, 212, 248);
    border-radius: 12px;
}

nav.perfil h2 {
    width: 95%;
    background-color: rgb(127, 212, 248);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 12px;
}

.alinhamento {
    margin-left: auto;
    margin-right: auto;
}

.box-noticia {
    grid-area: conteudo;
    padding-top: 10px;
    float: left;
}

.campo {
    padding: 0px 0px 11px 10px;
}

.button-sub {
    padding-top: 0px;
}

.menu-principal {
    display: block;

}

.menu-principal ul li {

    padding: 10px;
    background: white;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.menu-principal>ul {
    float: left;
}

.campo {
    grid-area: conteudo;
    padding: 3px 0px 10px 0px;
}

.bloco2-genero {
    padding: 14px 0px 0px 2px;
}

.bloco2-adress {
    padding: 20px 0px 10px 0px;
}

.bloco2-tel {
    padding: 10px 0px 10px 0px;
}

.bloco2-state {
    padding: 5px 0px 27px 4px;
}

aside {
    grid-area: periferico;
}

aside>.box-lateral {
    display: none;
}

.box-noticia p,
.box-noticia h2 {
    margin-top: 0px;
}

h2 {
    margin-top: 0px;
}

.box-lateral ul {
    list-style: none;
    padding: 5px;
}



@media (min-width: 962px) {
    body {
        margin: 0px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 120px 1fr 120px;
        grid-template-areas: "cabecalho cabecalho"
            "periferico conteudo "
            "rodape rodape";
        grid-gap: 20px 30px;
    }

    .menu-principal {
        float: right;
        padding: 50px 40px 0px 0px;
    }

    .menu-principal>ul>li {
        display: inline-block;
        background-color: rgb(127, 212, 248);
    }

    .campo {
        grid-area: conteudo;
        padding: 3px 0px 10px 30px;
    }

    .bloco2-genero {
        padding: 14px 0px 0px 30px;
    }

    .bloco2-adress {
        padding: 20px 0px 10px 30px;
    }

    .bloco2-tel {
        padding: 10px 0px 10px 30px;
    }

    .bloco2-state {
        padding: 5px 0px 27px 34px;
    }

    div.box-lateral {
        background-color: white;
        box-shadow: none;
        text-align: center;
    }

    div.box-lateral ul li {
        padding: 5px;
    }

    /* botoes e perfil barra lateral WEB*/
    aside>.box-lateral {
        display: list-item;
    }

    :root {
        --cor-primaria-ativo: rgb(127, 212, 248);
        --cor-secundaria-ativo: white;
        --cor-hover-ativo: rgba(92, 162, 192, 0.77);
    }

    .botao {

        border: none;
        text-decoration: none;
        cursor: pointer;
        transition: background .3s;
        width: 200px;
        height: 46px;
    }

    .button-group {
        padding-top: 30px;
    }

    .botao-ativo {
        background-color: var(--cor-primaria-ativo);
        outline: none;
        color: white;
        padding: 12px;
    }

    .botao-desativado {
        background-color: var(--cor-secundaria-ativo);
        outline: none;
        color: black;
        padding: 12px;
    }

    .botao-ativo:hover {
        background-color: var(--cor-hover-ativo);

    }

    .botao-desativado:hover {
        background-color: var(--cor-hover-ativo);

    }

    footer {
        grid-area: rodape;
    }
}