body {
    margin: auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "cabecalho"
        "conteudo"
        "periferico"
        "rodape";
    grid-gap: 5px 0px;

}

header {
    grid-area: cabecalho;
}

aside {
    grid-area: conteudo;

}

div.footer {
    grid-area: rodape;
}

.logo {
    width: 285px;
    height: 103px;
}

div.container-fluid logo {
    float: left;
}

.box-lateral {
    display: none;
}

.content {
    background-color: #f2f2f2;
    border-radius: 12px;
    padding-top: 5px;
}

nav.perfil {
    background-color: rgb(127, 212, 248);
    border-radius: 12px;
}

nav.perfil h2 {
    width: 95%;
    background-color: rgb(127, 212, 248);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 12px;
}

.box-noticia1 {
    padding: 20px 0px 0px 5px;
    flex-direction: column;
}

.box-noticia2 {
    float: left;
    padding: 20px 0px 0px 5px;
    flex-direction: column;
}

.alinhamento {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.contatos {
    background-color: white;
    border-radius: 12px;
    min-height: 130px;
    margin: 0px 5px 5px 5px;
    padding-top: 5px;
    min-width: 301px;               
}



.button-sub {
    border-radius: 10px;
    background-color: rgb(127, 212, 248);
    outline: white;
    border: none;
    padding: 8px;
    color: white;
    margin-bottom: 5px;
}


@media (min-width: 991px) {
    body {
        margin: 0px;
        width: 100%;
    }

    header {
        background-color: rgb(127, 212, 248);
        ;
    }

    main {
        max-width: 1024px;
        margin: auto;
    }

    nav.perfil {
        background-color: rgb(127, 212, 248);
        border-radius: 12px;
    }

    nav.perfil h2 {
        width: 95%;
        background-color: rgb(127, 212, 248);
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        border-radius: 12px;
    }

    .box-noticia {

        padding-top: 10px;
        float: left;
    }

    #nome {
        min-width: 200px;
    }

    div>ul>li.sobre {
        display: none;
    }

    /* Grid */
    .grid {
        display: grid;
        max-width: 1024px;
    }

    .grid-template {
        grid-template:
            "sidenav content" 300fr;
    }

    .gap {
        gap: 20px;
    }

    .column-gap {
        gap: 2px;
        column-gap: 40px;
    }

    .row-gap {
        gap: 2px;
        row-gap: 20px;
    }

    .content {
        grid-area: content;
        margin-top: 10px;
        padding: 0px 0px 5px 0px;
        min-width: 600px;
    }

    .sidenav {
        grid-area: sidenav;
    }

    .nav-lateral {
        margin-top: 10px;
    }

    /* Grid Item */
    .grid {
        margin: 0 auto;
    }
  
    div.box-lateral {
        background-color: white;
        box-shadow: none;
        text-align: center;
        display: list-item;
        list-style: none;
    }

    div.box-lateral ul {
        padding: 0px;
        margin: 0px;
    }

    .contatos {
        background-color: white;
        border-radius: 12px;
        min-height: 130px;
        margin: 0px 5px 5px 5px;  
        padding-top: 5px;             
    }

    .contatos p {
        margin: 0px;
    }

    /* botoes e perfil barra lateral WEB*/
    aside>.box-lateral {
        display: list-item;
    }

    :root {
        --cor-primaria-ativo: rgb(127, 212, 248);
        --cor-secundaria-ativo: white;
        --cor-hover-ativo: rgba(92, 162, 192, 0.77);
    }

    .botao {

        border: none;
        text-decoration: none;
        cursor: pointer;
        transition: background .3s;
        width: 200px;
        height: 46px;
    }

    .button-group {
        padding-top: 30px;
    }

    .botao-ativo {
        background-color: var(--cor-primaria-ativo);
        outline: none;
        color: white;
        padding: 12px;
    }

    .botao-desativado {
        background-color: var(--cor-secundaria-ativo);
        outline: none;
        color: black;
        padding: 12px;
    }

    .botao-ativo:hover {
        background-color: var(--cor-hover-ativo);

    }

    .botao-desativado:hover {
        background-color: var(--cor-hover-ativo);

    }

    footer {
        padding-top: 10px;
    }

    #form-contato {
        padding: 0px 10px 0px 10px;
        
    }
}